body {
  margin: auto;
  background: rgba(29, 45, 44, 0.1);
}

p a:link, p a:visited {
  text-decoration: none;
  color: #BFA37B;
}
p a:hover {
  color: #d4502c;
}

header {
  width: 100%;
  text-align: center;
  font-family: "Carter One", cursive;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 10px;
}
header h1 {
  width: 70%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(177, 181, 187, 0.5);
}
header h2 {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  background: rgba(177, 181, 187, 0.8);
  color: #d4502c;
}
header::after {
  content: "";
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url(https://images.pexels.com/photos/910307/pexels-photo-910307.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(1);
  z-index: -1;
  min-height: 75vh;
}

.summary {
  max-width: 100%;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}
.summary p {
  background: rgba(177, 181, 187, 0.8);
}
.summary p:first-of-type {
  position: absolute;
  padding: 5%;
}
.summary p:last-of-type {
  position: absolute;
  transform: translate(10%, 700%);
}
.summary p:last-of-type a {
  color: #BFA37B;
}
.summary::after {
  content: "";
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url(https://images.pexels.com/photos/258045/pexels-photo-258045.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(1);
  z-index: -1;
  min-height: 25vh;
  margin: 0;
  padding: 0;
}

.preamble {
  max-width: 100%;
  padding-bottom: 9%;
}
.preamble h3 {
  max-width: 80%;
  padding: 5%;
  text-align: left;
  background: rgba(191, 163, 123, 0.6);
  color: #d4502c;
  font-family: "Carter One", cursive;
  box-shadow: 5px 0px 5px 5px rgba(177, 181, 187, 0.5);
  border-radius: 5px;
}
.preamble p {
  padding-left: 7%;
  padding-right: 7%;
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

.supporting h3 {
  max-width: 100%;
  margin: 0;
  margin-left: 10%;
  padding: 5%;
  text-align: right;
  background: rgba(191, 163, 123, 0.6);
  color: #d4502c;
  font-family: "Carter One", cursive;
  box-shadow: 5px 0px 5px 5px rgba(177, 181, 187, 0.5);
  border-radius: 5px;
}
.supporting p {
  padding-left: 7%;
  padding-right: 7%;
  font-family: "Quicksand", sans-serif;
}
.supporting .explanation {
  padding-bottom: 7%;
}
.supporting .benefits {
  padding-bottom: 7%;
}
.supporting .participation {
  padding-bottom: 7%;
}
.supporting .participation h3 {
  text-align: left;
  max-width: 80%;
  margin-left: 0;
  padding: 5%;
}
.supporting .requirements {
  padding-bottom: 7%;
}
.supporting .requirements h3 {
  text-align: left;
  max-width: 80%;
  margin-left: 0;
  padding: 5%;
}

.design-selection h3 {
  max-width: 100%;
  padding: 3%;
  text-align: center;
  background: white;
  color: #d4502c;
  font-family: "Carter One", cursive;
}
.design-selection nav {
  padding: 5%;
  padding-top: 2%;
}
.design-selection nav ul {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5%;
  list-style-type: none;
  align-items: center;
  margin-bottom: 2%;
  padding: 1%;
}
.design-selection nav ul a:first-of-type {
  color: #4B7470;
  text-decoration: none;
  display: block;
  font-size: 20px;
}
.design-selection nav ul a:last-of-type {
  color: #BFA37B;
  text-decoration: none;
}

p a:link, p a:visited {
  text-decoration: none;
  color: #BFA37B;
}

footer {
  text-align: center;
  font-size: 1.2em;
}
footer a:link, footer a:visited {
  text-decoration: none;
  color: #BFA37B;
}

.design-archives {
  padding-bottom: 7%;
}
.design-archives h3 {
  max-width: 100%;
  padding: 3%;
  text-align: center;
  background: white;
  color: #d4502c;
  font-family: "Carter One", cursive;
}
.design-archives ul {
  text-align: center;
  padding: 0;
  margin: 0;
}
.design-archives ul li {
  list-style-type: none;
}
.design-archives ul li a {
  text-decoration: none;
  color: #4B7470;
  align-items: center;
  text-align: center;
}

.zen-resources {
  padding-bottom: 7%;
}
.zen-resources h3 {
  max-width: 100%;
  padding: 3%;
  text-align: center;
  background: white;
  color: #d4502c;
  font-family: "Carter One", cursive;
}
.zen-resources ul {
  text-align: center;
  padding: 0;
  margin: 0;
}
.zen-resources ul li {
  list-style-type: none;
}
.zen-resources ul li a {
  text-decoration: none;
  color: #4B7470;
}

@media (min-width: 480px) {
  html {
    height: 100%;
    overflow: hidden;
  }
  body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Nunito;
    perspective: 4px;
    transform-style: preserve-3d;
  }
  h1 {
    font-size: 150%;
  }
  h3 {
    font-size: 110%;
  }
  .supporting .participation h3, .supporting .requirements h3 {
    text-align: center;
  }
  .preamble h3, .supporting h3, .requirements h3, .participation h3, .benefits h3 {
    text-align: center;
  }
  p {
    font-size: 110%;
    line-height: 150%;
    color: #333;
  }
  header {
    left: 0;
    right: 0;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    background: rgba(235, 165, 122, 0.226);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  }
  header h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(100, 131, 177, 0.3);
  }
  header h2 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    font-size: 50%;
    transform: translate(-50%, -50%);
    background: rgba(124, 145, 75, 0.3);
  }
  header:after {
    background: 50% 50%/cover;
  }
  header::after {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url(https://free4kwallpapers.com/uploads/originals/2019/04/02/roadtrip-wallpaper.jpg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(1);
    z-index: -1;
    min-height: 100vh;
  }
  .summary {
    display: block;
    text-align: center;
  }
  .summary p:first-of-type {
    position: absolute;
    padding: 2%;
    left: 0%;
    right: 0%;
    bottom: -24%;
  }
  .summary p:last-of-type {
    position: absolute;
    left: -12%;
    right: 0%;
    bottom: 4.1%;
  }
  .design-selection, .zen-resources, .design-archives {
    position: relative;
    padding: 2%;
    width: 100%;
    margin: 2%;
    transform-style: inherit;
  }
  .design-selection li, .zen-resources li, .design-archives li {
    list-style: none;
  }
  .design-selection a, .zen-resources a, .design-archives a {
    display: inline-block;
    padding: 0.2em;
  }
  .design-selection a:link, .design-selection a:visited, .zen-resources a:link, .zen-resources a:visited, .design-archives a:link, .design-archives a:visited {
    text-decoration: none;
    color: #BFA37B;
  }
  .preamble {
    max-width: 31%;
  }
  .design-selection nav ul {
    grid-template-columns: auto;
  }
  .design-archives ul > li, .zen-resources ul > li {
    padding: 2%;
    text-align: left;
    font-size: large;
  }
  .page-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.2em;
  }
  .intro {
    display: block;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  #zen-supporting {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: -20%;
  }
  #zen-supporting div {
    padding: 1.2em;
  }
  .wrapper {
    grid-column: 2/3;
    display: grid;
    grid-auto-rows: 3fr 1fr 1fr;
    gap: 1em;
    margin-top: -300%;
  }
  .navigation {
    display: flex;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30fr 50fr 1fr;
    padding: 1.2em;
  }
  .explanation {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: -200%;
    align-self: center;
  }
  .participation {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
  }
  .benefits {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: flex-end;
  }
  .requirements {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    margin-bottom: -150%;
  }
  footer {
    grid-column: 1/3;
    grid-row: 3/4;
    justify-items: left;
  }
}

/*# sourceMappingURL=style.css.map */
