$breakpoint-alpha: 480px;
$breakpoint-beta: 768px;

 
  body { 
    margin:auto;
    background: rgba(29, 45, 44, 0.1);
  }

  p{
    a:link, a:visited{
      text-decoration: none;
      color: #BFA37B;
  
    }
    a:hover{
      color: #d4502c;
    }
  }
  
  header {
    width: 100%;
    text-align: center;
    font-family: 'Carter One', cursive;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 10px;

  
    h1{
      width: 70%;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(177, 181, 187, 0.5);
  }
  
  h2 {
      width: 100%;
      margin: 0;
      position: absolute;
      top: 60%;
      left: 50%;
      font-size: 15px;
      transform: translate(-50%, -50%);
      background: rgba(177, 181, 187, 0.8);
      color: #d4502c;
  }
  
    &::after{
      content: "";
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background: url(https://images.pexels.com/photos/910307/pexels-photo-910307.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
      background-size: cover;
      transform-origin: center center 0;
      transform: translateZ(-1px) scale(1);
      z-index: -1;
      min-height: 75vh;
  }

  }

  .summary{
    max-width: 100%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
   
    p{
      background: rgba(177, 181, 187, 0.8);
    }

    p:first-of-type{
      position: absolute;
      padding: 5%;
    }

    p:last-of-type{
      position: absolute;
      transform: translate(10%, 700%);
      
      a{
        color:#BFA37B;
      }
    }


    &::after{
      content: "";
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background: url(https://images.pexels.com/photos/258045/pexels-photo-258045.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
      background-size: cover;
      transform-origin: center center 0;
      transform: translateZ(-1px) scale(1);
      z-index: -1;
      min-height: 25vh;
      margin: 0;
      padding:0;
  }
 
  }

  .preamble{
    max-width: 100%;
    padding-bottom: 9%;
   
    h3{
      max-width: 80%;
      padding: 5%;
      text-align: left;
      background: rgba(191, 163, 123, 0.6);
      color: #d4502c;
      font-family: 'Carter One', cursive;
      box-shadow: 5px 0px 5px 5px rgba(177, 181, 187, 0.5);
      border-radius: 5px;
      
    }

    p{
      padding-left:7%;
      padding-right:7%;
      font-family: 'Quicksand', sans-serif;
      margin:0

    }
  }

  .supporting{

    
    

    h3{
      max-width: 100%;
      margin:0;
      margin-left: 10%;
      padding: 5%;
      text-align: right;
      background: rgba(191, 163, 123, 0.6);
      color: #d4502c;
      font-family: 'Carter One', cursive;
      box-shadow: 5px 0px 5px 5px rgba(177, 181, 187, 0.5);
      border-radius: 5px;
    }
    p{
      padding-left:7%;
      padding-right:7%;
      font-family: 'Quicksand', sans-serif;
    }

    .explanation{
      padding-bottom: 7%;
    }

    .benefits{
      padding-bottom: 7%;
    }

    .participation {
      padding-bottom: 7%;
      h3{
        text-align: left;
        max-width: 80%;
        margin-left: 0;
        padding: 5%;   
      }
    }

    .requirements {
      padding-bottom: 7%;
      h3{
        text-align: left;
        max-width: 80%;
        margin-left: 0;
        padding: 5%;
      }
    }

  }

  .design-selection{
    h3{
      max-width: 100%;
      padding: 3%;
      text-align: center;
      background:  
      white;
      color: #d4502c;
      font-family: 'Carter One', cursive;
    }

    nav{
      padding: 5%;
      padding-top: 2%;
  
      ul{
        display: grid;
        grid-template-columns: auto auto;
        gap: 5%;
        list-style-type: none;
        align-items: center;
        margin-bottom:2%;
        padding:1%;

        a:first-of-type {
          color: 
          #4B7470;
          text-decoration: none;   
          display:block;  
          font-size: 20px;
        }

        a:last-of-type {
          color: 
          #BFA37B;
          text-decoration: none;   
    
        }

      }
    }
  }
  p{
    a:link, a:visited{
      text-decoration: none;
      color: #BFA37B;
    }
  }

  footer{
    text-align: center;
    font-size: 1.2em;
    a:link, a:visited{
      text-decoration: none;
      color: #BFA37B;
    }
  }

  .design-archives{
    padding-bottom: 7%;

    h3{
      max-width: 100%;
      padding: 3%;
      text-align: center;
      background:  
      white;
      color: #d4502c;
      font-family: 'Carter One', cursive;
    }

    ul{

      text-align: center;
      padding:0;
      margin:0;

    li{

      list-style-type: none;

      a{
        text-decoration: none;  
        color: #4B7470;
        align-items: center;
        text-align: center;
      }

    }
  }
  }

  .zen-resources{
    padding-bottom: 7%;

    h3{
      max-width: 100%;
      padding: 3%;
      text-align: center;
      background:  
      white;
      color: #d4502c;
      font-family: 'Carter One', cursive;
    }

    ul{

      text-align: center;
      padding:0;
      margin:0;


      li{

        list-style-type: none;

        a{
          text-decoration: none;  
          color: #4B7470;
        }

      }
    }

       

   
  }



  // MEDIUM VIEW
  @media (min-width: $breakpoint-alpha) {
  
    html {
      height: 100%;
      overflow: hidden;
    }
    
    body { 
      margin:0;
      padding:0;
      perspective: 1px;
      transform-style: preserve-3d;
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      perspective: 4px;
      transform-style: preserve-3d;
    }
    
    h1 {
       font-size: 1.2em;
    }
  
    h3{
      font-size: 1.5em;
    }
    

    p {
      font-size: 110%;
      line-height: 150%;
    }
  
   
// INTRO SECTION
.intro{
    header {
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
  
  h1{
      margin: 0;
      padding: 1%;
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(100, 131, 177, 0.3);
  }
  
  h2 {
      color: rgba(100, 131, 177);
      margin: 0;
      padding: 1%;
      position: absolute;
      top: 60%;
      left: 50%;
      font-size:50%;
      transform: translate(-50%, -50%);
  }
}
  .summary::after{
    content: none;
    background: rgba(100, 131, 177, 0.3);
  }
}

  .summary {
    position: relative;
    display: block;
    text-align: center;
    background: rgba(177, 181, 187, 0.8);
    padding: 1%;


    p{
      background: none;
    }

    p:first-of-type{
      position: relative;
      padding: 0%; 
    }

    p:last-of-type{
      position: relative;
      transform: none;
    }
  }

  .preamble{
    padding-bottom: 5%;
    h3{
      color: rgba(100, 131, 177);
    }
    p {
      padding-left: 4%;
      font-family: "Quicksand", sans-serif;
      margin: 0;
      max-width: 80%;
  }
  }

  // MAIN SECTION
  .supporting{
    h3{
      color: rgba(100, 131, 177);
    }
    p{
      padding-left: 15%;
      padding-right: 0%;
    }
    .explanation{
      padding-bottom: 3%;
      p{
        text-align: right;
        padding-right: 4%;
        max-width: 80%;
      }
    }
    .participation{
      padding-bottom: 3%;
      p{
        padding-left: 4%;
        max-width: 80%;
      }
    }
    .benefits{
      padding-bottom: 3%;
      p{
        text-align: right;
        padding-right: 4%;
        max-width: 80%;
      }
    }
    .requirements{
      padding-bottom: 3%;
      p{
        padding-left: 4%;
        max-width: 80%;
      }
    }
    footer{
      padding: 1%;
      font-size: 3em;
      a{
        padding: 1%;
      }
    }
  }
  

  // SIDEBAR
    .design-selection, .zen-resources, .design-archives{
      position: relative;
      width: 100%;
      box-sizing: border-box;
      transform-style: inherit;
      padding-bottom: 0%;
      h3{
        color: rgba(100, 131, 177);
      }
      li{
        list-style: none;
      }
      a{
        display: inline-block;
        padding: .2em;
      }
      a:link, a:visited{
        text-decoration: none;
        color: #BFA37B;
      }

    }
    .design-archives, .zen-resources{
      ul>li{
        padding: 2%;
        text-align: left;
        font-size: large;
      }
    }

    .design-selection nav {
      padding-top: 0%;
    ul{
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      margin-left: 10%;
    }
  }
  .design-archives{
    nav>ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    font-size: 1.5em;

    .next{
      grid-column: 1/2;
    }
    .viewall{
      grid-column: 2/3;
    }
  }
  }

  .zen-resources{
    ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 1%;
    }
  }



  // LARGE VIEW
  @media (min-width: $breakpoint-beta) {

    // The Full Page Grid in the right spaces
  .page-wrapper{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
    // gap: 0%;
  }
  .intro{
    display: block;
    grid-column: 1/3;
    grid-row: 1/2;
    .preamble{
      max-width: 70%;
      padding-bottom: 3%;
    }
  }
  #zen-supporting{
    grid-column: 1/2;
    grid-row: 2/3;
    div{
      padding: 1.2em;
    }
  }
  .wrapper{
    position: relative;
    grid-column: 2/3;
    display: grid;
    grid-auto-rows: auto auto auto;
    gap: 1em;
    margin-top: -150%;
  }
  .navigation{
    display: flex;
  }
  
  // body grid
  .main{
    display: grid;
    grid-template-columns: auto;
    // gap: 0%;
    // grid-template-rows: auto auto auto;
    // padding: 1.2em;
  }
  .explanation{
    // To the right
    grid-row: 1/2;
    // text-align: right;
    // padding-right: 4%;
    // max-width: 80%;

  }
  .participation{
    grid-row: 2/3;
  }
  .benefits{
    grid-row: 3/4;
  }
  .requirements{
    grid-row: 4/5;
  }
  footer{
    grid-row: 5/6;
    justify-items: left;
    // background-color: rgba(177, 181, 187, 1);

  }

// Side Bar grids
  .design-selection > nav{
    ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    li{
      padding: 1%;
    }
    }
  }
  .design-archives > nav{
    padding: 5%;
    ul{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      li{
        padding: 1%;
      }
    }
  }
  .zen-resources{
    padding: 5%;
    ul{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      li{
        padding: 1%;
      }
    }
  }

  }
  }  



