body {
  margin: auto;
  background: rgba(29, 45, 44, 0.1);
}

p a:link, p a:visited {
  text-decoration: none;
  color: #BFA37B;
}
p a:hover {
  color: #d4502c;
}

header {
  width: 100%;
  text-align: center;
  font-family: "Carter One", cursive;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 10px;
}
header h1 {
  width: 70%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(177, 181, 187, 0.5);
}
header h2 {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  background: rgba(177, 181, 187, 0.8);
  color: #d4502c;
}
header::after {
  content: "";
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url(https://images.pexels.com/photos/910307/pexels-photo-910307.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(1);
  z-index: -1;
  min-height: 75vh;
}

.summary {
  max-width: 100%;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}
.summary p {
  background: rgba(177, 181, 187, 0.8);
}
.summary p:first-of-type {
  position: absolute;
  padding: 5%;
}
.summary p:last-of-type {
  position: absolute;
  transform: translate(10%, 700%);
}
.summary p:last-of-type a {
  color: #BFA37B;
}
.summary::after {
  content: "";
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url(https://images.pexels.com/photos/258045/pexels-photo-258045.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(1);
  z-index: -1;
  min-height: 25vh;
  margin: 0;
  padding: 0;
}

.preamble {
  max-width: 100%;
  padding-bottom: 9%;
}
.preamble h3 {
  max-width: 80%;
  padding: 5%;
  text-align: left;
  background: rgba(191, 163, 123, 0.6);
  color: #d4502c;
  font-family: "Carter One", cursive;
  box-shadow: 5px 0px 5px 5px rgba(177, 181, 187, 0.5);
  border-radius: 5px;
}
.preamble p {
  padding-left: 7%;
  padding-right: 7%;
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

.supporting h3 {
  max-width: 100%;
  margin: 0;
  margin-left: 10%;
  padding: 5%;
  text-align: right;
  background: rgba(191, 163, 123, 0.6);
  color: #d4502c;
  font-family: "Carter One", cursive;
  box-shadow: 5px 0px 5px 5px rgba(177, 181, 187, 0.5);
  border-radius: 5px;
}
.supporting p {
  padding-left: 7%;
  padding-right: 7%;
  font-family: "Quicksand", sans-serif;
}
.supporting .explanation {
  padding-bottom: 7%;
}
.supporting .benefits {
  padding-bottom: 7%;
}
.supporting .participation {
  padding-bottom: 7%;
}
.supporting .participation h3 {
  text-align: left;
  max-width: 80%;
  margin-left: 0;
  padding: 5%;
}
.supporting .requirements {
  padding-bottom: 7%;
}
.supporting .requirements h3 {
  text-align: left;
  max-width: 80%;
  margin-left: 0;
  padding: 5%;
}

.design-selection h3 {
  max-width: 100%;
  padding: 3%;
  text-align: center;
  background: white;
  color: #d4502c;
  font-family: "Carter One", cursive;
}
.design-selection nav {
  padding: 5%;
  padding-top: 2%;
}
.design-selection nav ul {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5%;
  list-style-type: none;
  align-items: center;
  margin-bottom: 2%;
  padding: 1%;
}
.design-selection nav ul a:first-of-type {
  color: #4B7470;
  text-decoration: none;
  display: block;
  font-size: 20px;
}
.design-selection nav ul a:last-of-type {
  color: #BFA37B;
  text-decoration: none;
}

p a:link, p a:visited {
  text-decoration: none;
  color: #BFA37B;
}

footer {
  text-align: center;
  font-size: 1.2em;
}
footer a:link, footer a:visited {
  text-decoration: none;
  color: #BFA37B;
}

.design-archives {
  padding-bottom: 7%;
}
.design-archives h3 {
  max-width: 100%;
  padding: 3%;
  text-align: center;
  background: white;
  color: #d4502c;
  font-family: "Carter One", cursive;
}
.design-archives ul {
  text-align: center;
  padding: 0;
  margin: 0;
}
.design-archives ul li {
  list-style-type: none;
}
.design-archives ul li a {
  text-decoration: none;
  color: #4B7470;
  align-items: center;
  text-align: center;
}

.zen-resources {
  padding-bottom: 7%;
}
.zen-resources h3 {
  max-width: 100%;
  padding: 3%;
  text-align: center;
  background: white;
  color: #d4502c;
  font-family: "Carter One", cursive;
}
.zen-resources ul {
  text-align: center;
  padding: 0;
  margin: 0;
}
.zen-resources ul li {
  list-style-type: none;
}
.zen-resources ul li a {
  text-decoration: none;
  color: #4B7470;
}

@media (min-width: 480px) {
  html {
    height: 100%;
    overflow: hidden;
  }
  body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    perspective: 4px;
    transform-style: preserve-3d;
  }
  h1 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1.5em;
  }
  p {
    font-size: 110%;
    line-height: 150%;
  }
  .intro header {
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  }
  .intro header h1 {
    margin: 0;
    padding: 1%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(100, 131, 177, 0.3);
  }
  .intro header h2 {
    color: rgb(100, 131, 177);
    margin: 0;
    padding: 1%;
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 50%;
    transform: translate(-50%, -50%);
  }
  .intro .summary::after {
    content: none;
    background: rgba(100, 131, 177, 0.3);
  }
  .summary {
    position: relative;
    display: block;
    text-align: center;
    background: rgba(177, 181, 187, 0.8);
    padding: 1%;
  }
  .summary p {
    background: none;
  }
  .summary p:first-of-type {
    position: relative;
    padding: 0%;
  }
  .summary p:last-of-type {
    position: relative;
    transform: none;
  }
  .preamble {
    padding-bottom: 5%;
  }
  .preamble h3 {
    color: rgb(100, 131, 177);
  }
  .preamble p {
    padding-left: 4%;
    font-family: "Quicksand", sans-serif;
    margin: 0;
    max-width: 80%;
  }
  .supporting h3 {
    color: rgb(100, 131, 177);
  }
  .supporting p {
    padding-left: 15%;
    padding-right: 0%;
  }
  .supporting .explanation {
    padding-bottom: 3%;
  }
  .supporting .explanation p {
    text-align: right;
    padding-right: 4%;
    max-width: 80%;
  }
  .supporting .participation {
    padding-bottom: 3%;
  }
  .supporting .participation p {
    padding-left: 4%;
    max-width: 80%;
  }
  .supporting .benefits {
    padding-bottom: 3%;
  }
  .supporting .benefits p {
    text-align: right;
    padding-right: 4%;
    max-width: 80%;
  }
  .supporting .requirements {
    padding-bottom: 3%;
  }
  .supporting .requirements p {
    padding-left: 4%;
    max-width: 80%;
  }
  .supporting footer {
    padding: 1%;
    font-size: 3em;
  }
  .supporting footer a {
    padding: 1%;
  }
  .design-selection, .zen-resources, .design-archives {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    transform-style: inherit;
    padding-bottom: 0%;
  }
  .design-selection h3, .zen-resources h3, .design-archives h3 {
    color: rgb(100, 131, 177);
  }
  .design-selection li, .zen-resources li, .design-archives li {
    list-style: none;
  }
  .design-selection a, .zen-resources a, .design-archives a {
    display: inline-block;
    padding: 0.2em;
  }
  .design-selection a:link, .design-selection a:visited, .zen-resources a:link, .zen-resources a:visited, .design-archives a:link, .design-archives a:visited {
    text-decoration: none;
    color: #BFA37B;
  }
  .design-archives ul > li, .zen-resources ul > li {
    padding: 2%;
    text-align: left;
    font-size: large;
  }
  .design-selection nav {
    padding-top: 0%;
  }
  .design-selection nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-left: 10%;
  }
  .design-archives nav > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    font-size: 1.5em;
  }
  .design-archives nav > ul .next {
    grid-column: 1/2;
  }
  .design-archives nav > ul .viewall {
    grid-column: 2/3;
  }
  .zen-resources ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1%;
  }
}
@media (min-width: 480px) and (min-width: 768px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
  }
  .intro {
    display: block;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .intro .preamble {
    max-width: 70%;
    padding-bottom: 3%;
  }
  #zen-supporting {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #zen-supporting div {
    padding: 1.2em;
  }
  .wrapper {
    position: relative;
    grid-column: 2/3;
    display: grid;
    grid-auto-rows: auto auto auto;
    gap: 1em;
    margin-top: -150%;
  }
  .navigation {
    display: flex;
  }
  .main {
    display: grid;
    grid-template-columns: auto;
  }
  .explanation {
    grid-row: 1/2;
  }
  .participation {
    grid-row: 2/3;
  }
  .benefits {
    grid-row: 3/4;
  }
  .requirements {
    grid-row: 4/5;
  }
  footer {
    grid-row: 5/6;
    justify-items: left;
  }
  .design-selection > nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  .design-selection > nav ul li {
    padding: 1%;
  }
  .design-archives > nav {
    padding: 5%;
  }
  .design-archives > nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  .design-archives > nav ul li {
    padding: 1%;
  }
  .zen-resources {
    padding: 5%;
  }
  .zen-resources ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  .zen-resources ul li {
    padding: 1%;
  }
}

/*# sourceMappingURL=style.css.map */
